@model BookApplication.Models.UserHistoryViewModel

@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Hello, @User.Identity.Name!</h1>
    }
    else
    {
        <h1>Welcome to our website!</h1>
    }
</div>
