@model BookApplication.Models.AddBookViewModel
@{
}

<div class="container">
	<div class="row">
		<h1> Add Books </h1>
	</div>
	<div class="row mt-5">
		<form method="post" action="Add">
			
			<div class="row">
				<div class="col-md-6">
					<div class="mb-3">
						<label for="Title" class="form-label">Book Title:</label>
						<input type="text" class="form-control" id="title" asp-for="Title">
					</div>
				</div>
				
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="mb-3">
						<label for="Year" class="form-label">Year:</label>
						<input type="number" class="form-control" id="year" asp-for="YearPublished">
					</div>
				</div>
				<div class="col-md-4">
					<div class="mb-3">
						<label for="Author" class="form-label">Author:</label>
						<input type="text" class="form-control" id="author" asp-for="Author">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Add Book</button>
		</form>
	</div>
</div>