@{
	Layout = "_LayoutLogin";
	ViewData["Title"] = "Login";
}

<main class="form-signin">
	<form asp-action="Login" asp-controller="Login"  method="post">
		<div class="text-center">
			<span class="material-symbols-rounded">
				face
			</span>
			<h1 class="h3 mb-3 fw-normal">Login</h1>
			<div class="form-floating mb-2">
				<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
				<label for="floatingInput">Email address</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
				<label for="floatingPassword">Password</label>
			</div>
		</div>
		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
		</div>
		<input type="submit" value="Login" class="w-100 btn btn-lg btn-primary"  />
		
		<p>
			<a asp-controller="Login" asp-action="Register">Register</a>
		</p>
		@if (TempData["success"] != null)
		{
			<div class="alert alert-success mt-2 ">
				@TempData["success"]
			</div>
		}
		@if (TempData["error"] != null)
		{
			<div class="alert alert-danger mt-2  ">
				@TempData["error"]
			</div>
		}
		<p class="mt-5 mb-3 text-muted text-center">&copy; 2023-2024</p>
	</form>
</main>

